.about__text {
  font-family: Roboto;
  /*
    Нужно исправить:
    Конфликтующие стили описания границ. Можно исправить на единственный margin: 24px 0 0 0;
    (Почитать про синтаксис можно здесь: https://developer.mozilla.org/ru/docs/Web/CSS/margin)
  */
  margin: 0;
  margin-top: 24px;
  font-size: 1.12rem;
  line-height: 1.3;
  max-width: 80%;
}

@media screen and (max-width: 1023px) {
  .about__text {
    margin-top: 16px;
    font-size: 1.12rem;
    line-height: 1.3;
    max-width: 100%;
  }
}

/*
 Нужно исправить:
 Неиспользуемые (пустые) стили стоит убрать - они портят структуру и удобочитаемость файла.
*/
@media screen and (max-width: 767px) {
}
